---
import IconRss from "@tabler/icons/outline/rss.svg";

import LinkButton from "@/components/LinkButton.astro";
import Socials from "@/components/Socials.astro";
import { SOCIALS } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class:list={["pt-8 pb-6", "border-b border-border"]}>
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        Thomas Quillan
      </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="inline-block"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="scale-125 stroke-accent stroke-3 rtl:-rotate-90"
        />
        <span class="sr-only">RSS Feed</span>
      </a>

      <p>Welcome to my personal website.</p>
      <p class="mt-2">
        Read my <LinkButton
          class="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="/posts"
        >
          Blog Posts
        </LinkButton>
        or check out my
        <LinkButton
          class="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="/projects"
        >
          Projects
        </LinkButton> for more info.
      </p>
      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-4 flex max-sm:flex-col sm:items-center">
            <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>
  </main>
</BaseLayout>
